<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- dao interface - mapper --> 
<mapper namespace="com.mysqlSpring.testProject.dao.IDao">
	<!-- user Join  -->
	<insert id="userJoin" parameterType="com.mysqlSpring.testProject.dto.UserJoinDto">
		INSERT INTO UserDataTBL(PNUM,PID,PPW,PADDRESS,PPROFILE) VALUES (#{pNum},#{pId},#{pPw},#{pAddress},#{pProfile})
	</insert>
	<!-- user login -->
	<select id="login" resultType="com.mysqlSpring.testProject.dto.UserJoinDto">
		SELECT * FROM UserDataTBL WHERE PID=#{pid}
	</select>
</mapper>